@charset "UTF-8";
/*========= base ===========*/

html {
    margin: 0;
    padding:0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
    font-weight: 500;
    color: rgb(9, 37, 90);
    line-height: 2.0;
  }
  
  h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
  }
  
  img {
    width: 100%;
    vertical-align: bottom;
  }
  
  ul,li,dl,dt,dd {
    margin:0;
    padding:0;
    list-style: none;
  }
  
  a { 
    text-decoration: none;
    color: rgb(9, 37, 90);
  }
  
  a:hover { 
    transition: .3s;
    opacity: 0.6;
  }
  
  section {
    margin-bottom: 120px;
  }
  
  .content-wrapper {
     width: 1400px;
     margin: 0 auto;
   }
  
/* header */
.header {
    width: 100%;
}
.header-nav {
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
  }
.header nav ul li {
    margin-right: 50px;
  }
/* main */
.about {
  width: 100%;
}
.about h2 {
  text-align: center;
  padding: 40px 0;
}
.about img {
  float: left;
  padding-left: 200px;
  padding-right: 30px;
  width: 680px;
}
.about p {
  font-weight: 700;
  width: 77%;
  padding-bottom: 350px;
}
.content-wrapper h2 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
.item-box {
  display: flex;
  justify-content: center;
}
.item {
  padding: 20px;
}
.item p {
  margin: 0;
}
.contact h2 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
}
.contact p {
  text-align: center;
  margin-bottom: 0;
}
.contact-mail {
  text-align: center;
}
.contact-mail input{
  padding-left: 10px;
  border: rgb(190, 183, 183) solid 1px;
  border-radius: 50px;
  width: 40%;
  height: 40px;
}

.contact-start {
  text-align: center;
}
.contact-start button {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 15px 120px;
  border-style: none;
  border-radius: 3px;
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: rgb(252, 106, 87);

}
/* footer */
.footer{
  width: 80%;
  margin: 0 auto;
  border-top: rgb(190, 183, 183) solid 1px;
}
.copylight {
  width: 0 auto;
}
.copylight p {
  font-size: 0.75rem;
  text-align: right;
  padding-bottom: 20px;
}